.background-img{
  font-size: 42px;
}
.texth3{
  font-size:22px;
}
.tbctext{
  font-size:28px;
}
.link-main{
font-size: 28px;
}
h2{
  font-weight: lighter;
}
.accordionh2{
  font-size: 22px;
}
.slider-title{
 font-size: 28px;
 padding-top: 34px;
}
.question{
font-size: 16px;
}  
.accordion {
}
.accordion{font-size: 16px;font-weight: 400;}
.panel p{
font-size: 16px;
font-weight: 400;
}
.fa-chevron-down{
  font-size: 15px;
}
.fa-facebook{
font-size: 28px;
}
.fa-youtube{
 font-size: 28px;
}
.card1 p{
  font-size: 14px;
}
.card1 h2{
 font-size: 16px;
}
.card2 p{
  font-size: 14px;
}
.card2 h2{
  font-size: 16px;
 }

.card3 p{
  font-size: 14px;
}
.card3 h2{
  font-size: 16px;
 }
.card4 p{
  font-size: 14px;
}
.card4 h2{
  font-size: 16px;
 }
.card5 p{
  font-size: 14px;
}
.card5 h2{
  font-size: 16px;
}
.card6 p{
  font-size: 14px;
}
.card6 h2{
  font-size: 16px;
}
.card7 p{
  font-size: 14px;
}
.card7 h2{
  font-size: 16px;
}
.card8 p{
  font-size: 14px;
}
.card8 h2{
  font-size: 16px;
}
.card9 p{
  font-size: 14px;
}
.card9 h2{
  font-size: 16px;
}
.card1 h5{
  font-size: 18px;
}
.card2 h5{
  font-size: 18px;
}
.card3 h5{
  font-size: 18px;
}
.card4 h5{
  font-size: 18px;
}
.card5 h5{
  font-size: 18px;
}
.card6 h5{
  font-size: 18px;
}
.card7 h5{
  font-size: 18px;
}
.card8 h5{
  font-size: 18px;
}
.card9 h5{
  font-size: 18px;
}
h5{
  font-size: 18px;
}
.btn-text{
  font-size: 18px;
}
